.table-wrapper {
    background: rgba(255,255,255, 0.7);
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.4);
    height: 400px;
    overflow: hidden;

    .table-scroll {
        height: 300px;
        width: 100%;
        overflow: scroll;
    }
}