.weather-box {
    width: 500px;
    height: 400px;
    background: rgba(255,255,255, 0.7);
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.4);

    .location {
        width: 100%;
        height: 100px;
    }

    .stats {
        width: 100%;
        height: 60px;

  
    


    }
}